{% extends 'base.html' %}
{% block content %}

<div>
    <form action="/", method='GET'>
       <button type="submit" id="log-out-button">Log Out</button>
   </form>
</div>


    <h1>Welcome {{employee.fname}}!</h1>
    <h2>What do you want to do?</h2><br><br>

<!-- <h2>Search top twenty games:</h2> -->
   <p><a href="/employees/{{employee.employee_id}}/top_twenty_games">Search top twenty games</a></p>

<!-- <h2>See details of any games</h2> -->
   <p><a href="/employees/{{employee.employee_id}}/details_any_games">See details of any games</a></p>

<!-- <h2>See details of your KidsAppBox's game</h2> -->
   <p><a href="/employees/{{employee.employee_id}}/kidsappbox_game"">See details of your KidsAppBox's game</a></p>
<script>
    $(document).ready(function(){
      $('#log-out-button').on('click', (evt) => {
       evt.preventDefault();
       console.log('you are succesfully log out')
       window.location.href = "/logout"
    });
  });
</script>
{% endblock %}