{% extends 'base.html' %}
{% block content %}
<div>
    <form action="/", method='GET'>
       <button type="submit" id="log-out-button">Log Out</button>
   </form>
</div>

{% for game in games %}


    <div class="game">
        <div class="game-info">
            <h4 id="game_name" name="game_name">{{ game.game_name }}</h4> 
            <p>{{ game.store }}</p>
            <img src="{{ game.image }}"" height="112" width="112" class="image">
        </div>
        <div class="game-search">
            <form
                class="game-search-form"
                action="/employees/{{employee.employee_id}}/kidsappbox_game"
                method="GET"
                data-gameid="{{ game.game_id }}"
            >
       
                <button type="submit" class="btn btn primary">See Games Rating</button>
            </form>
        </div>
        <div style="width: 200px; height: 200px;" class="game-chart">
            <canvas id="chart-{{ game.game_id }}">
                
            </canvas>
            <div id="legend-{{ game.game_id }}"></div>
        </div>
    </div>
    
{% endfor %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script>

   $(document).ready(function(){
      $('#log-out-button').on('click', (evt) => {
       evt.preventDefault();
       console.log('you are succesfully log out')
       window.location.href = "/logout"
        });
    });
    

    $('.game-search-form').on('submit', (evt) => {
        evt.preventDefault();
        const gameId = $(evt.target).data('gameid');
        console.log(gameId);
        console.log(evt.target);

        $.get(`/game-data/${gameId}`, data => {
            if (data === 'No data for this game') {
                $(`#legend-${gameId}`).append('No data');
            } else {
                const ctx = $(`#chart-${gameId}`).get(0).getContext('2d');
                const donutChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: data,
                    options: { responsive: true}
                });
                // $(`#legend-${gameId}`).html(donutChart.generateLegend());
            }
        });
    });
 
  </script>
{% endblock %}


