{% extends 'base.html' %}
{% block content %}

{% for game in games %}
    <div class="game">
        <div class="game-info">
            <h4 id="game_name" name="game_name">{{ game.game_name }}</h4> 
            <p>{{ game.store }}</p>
            <img src="{{ game.image }}"" height="112" width="112" class="image">
        </div>
        <div class="game-search">
            <form
                class="game-search-form"
                action="/employees/{{employee.employee_id}}/kidsappbox_game"
                method="GET"
                data-gameid="{{ game.game_id }}"
            >
                <select id="store_type_field" name="store_type" class="store_control">
            		<option value="android" id="select-store">android</option>
            		<option value="itunes" id="select-store">itunes</option>
                </select>
                <select id="country_type_field" name="country_type" class="country_control">
            		<option value="AU" id = "select-country">Australia</option>
            		<option value="CAN" id = "select-country">Canada</option>
            		<option value="CHN" id = "select-country">Chinese</option>
            		<option value="FR" id = "select-country">France</option>
            		<option value="DE" id = "select-country">Germany</option>
            		<option value="GB" id = "select-country">United Kingdom</option>
            		<option value="US" id = "select-country">United State</option>
                </select>
       
              	<button type="submit" class="btn btn primary">Search</button>
            </form>
        </div>
        <div style="width: 200px; height: 200px;" class="game-chart">
            <canvas id="chart-{{ game.game_id }}">
                
            </canvas>
            <div id="legend-{{ game.game_id }}"></div>
        </div>
    </div>
    
{% endfor %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script>
    $('.game-search-form').on('submit', (evt) => {
        evt.preventDefault();
        const gameId = $(evt.target).data('gameid');
        console.log(gameId);
        console.log(evt.target);

    //     const country = $('#country_type_field');
    //     const store = $('#store_type_field');

    //     data = {
    //         country_type : country, 
    //         store_type : store
    //     }

    //     $.get(`/game-data/${gameId}`, data, (data) => {
    //         if (data === 'No data for this game') {
    //             $(`#legend`).append('No data');
    //         } else {
    //             const ctx = $(`#chart`).get(0).getContext('2d');
    //             const donutChart = new Chart(ctx, {
    //                 type: 'doughnut',
    //                 data: data,
    //                 options: { responsive: true,
    //                            maintainAspectRatio: false
    //                         }
    //             });
    //             $(`#legend-${gameId}`).html(donutChart.generateLegend());
    //         }

        $.get(`/game-data/${gameId}`, data => {
            if (data === 'No data for this game') {
                $(`#legend-${gameId}`).append('No data');
            } else {
                const ctx = $(`#chart-${gameId}`).get(0).getContext('2d');
                const donutChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: data,
                    options: { responsive: true,
                               // maintainAspectRatio: false
                            }
                });
                $(`#legend-${gameId}`).html(donutChart.generateLegend());
            }
        });

    });
 
  </script>


{% endblock %}