{% extends 'base.html' %}

{% block content %}

<h4>Register to KidsAppBox's Intelligence Tools</h4>
<br><br>

    <form action="/login"
    class="login-form" method ="POST">
        Email Address:
        <br>
        <input id="email_type" type="email" name="email_info" required><br>
        Password:
        <br>
        <input id="password_type" type="password" name="password_info" required><br>
        <button id="login_type" type="submit" value="Log In">Log in</button>
    </form>
    
<script>
    $('.login-form').on('submit', (e) => {
        e.preventDefault();

        const  email = $('#email_type').val();
        const  password = $('#password_type').val();


        data = {email_info: email, 
            password_info: password}
        

        $.post('/login.json', data, (data) => {

            if (email !== data['confirm_email']){
                // console.log("no employee");
                window.alert("no such employee");
                window.location.href = "/register"
                
            }
            else if (password !== data['confirm_password']){
                // console.log("no password");
                window.alert("incorrect password");
                
            }
            else {
                window.location.href = "/login_employee/" + data["employee_ids"]
   
            }

        });
    });
</script>
{% endblock %}

