{% extends 'base.html' %}

{% block content %}

<h1>Sign Up</h1>


<form  class="register-form" action"/" method ="POST">
	employee id:
	<input id="id_type" type="text" name="employee_id" required><br>
	first name:
	<input id="fname_type" type="text" name="fname" required><br>
	last name:
	<input id="lname_type" type="text" name="lname" required><br>
	email adress:
	<input id="email_type" type="text" name="email" required><br>
	password:
	<input id="password_type" type="text" name="password" required><br>
	confirm password:
	<input id="confirm_type" type="text" name="confirm_password" required><br>
	<input type="submit">

</form>

{% endblock %}