{% extends 'base.html' %}

{% block content %}


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<h1>top twenty games</h1>


  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<form action="/top_twenty_games" method ="POST" id = "search_game">

<select name="store">
  <option value="android" id = "select-store">Android</option>
  <option value="itunes" id = "select-store">iOS</option>
</select>
<select name="country">
	 <option value="AU" id = "select-country">Australia</option>
	 <option value="CAN" id = "select-country">Canada</option>
	 <option value="CHN" id = "select-country">Chinese</option>
	 <option value="FR" id = "select-country">France</option>
	 <option value="DE" id = "select-country">Germany</option>
	 <option value="GB" id = "select-country">United Kingdom</option>
	 <option value="US" id = "select-country">United State</option>
</select>


<!-- <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Select Country</button>
  <div id="myDropdown" class="dropdown-content">
    <option value="AU">UNITED STATE</option>
    <a href="#">United state</a>
    <a href="#contact">Contact</a>
  </div>
</div>
 -->



<label for="start">Start date:</label>

<input type="date"  name="date"required>
<button id ="search">Search</button>


</form>

  


<table >

  <tr>
    <th>App Id</th> 
    <th>App Name</th>
    <th>Average Rating</th>
    <th>Price</th> 
  </tr>
   {% for r in json_record %}
  <tr>
   
    <td><a href="/details_of_games/{{country}}/{{store}}/{{r['app_id']}}">{{r["app_id"]}}</a></td>
    <td>{{r["app_name"]}}</td>
    <td>{{r["avg_rating"]}}</td>
    <td>{{r["price"]}}</td>
    <td>{{r["rank"]}}</td>

   
  </tr>
  
  {% endfor %}
</table>



  
<script>
  function getDataForRankingVisualization() {
    return [  {% for r in json_record %}
      {name: "{{ r['app_name'] }}", avg_rating: "{{r['avg_rating']}}"},
     {% endfor %}];
  }
</script>



 <div class="chart-example" id="chart"><svg></svg></div>

  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="/static/top-games.js"></script>

<!-- 
  <script>

   d3.json('/top_twenty_games', makeForceLayout);

     function makeForceLayout(json_record){

     console.log(json_record)
    }
      // selection.datum() returns the bound datum for the first element in the selection and 
      //  doesn't join the specified array of data with the selected elements
      var chart = bubbleChart().width(600).height(400);
      d3.select('#chart').datum(getDataForRankingVisualization()).call(chart);
 

</script> 
 -->





<!-- <button id='getInfo'>Get Information!</button>
<p>
  <ul>
    <li><b>App_name: <span id='app_name'>Unknown</span></li>
    <li>Avr_rating: <span id='avr_rating'>Unknown</span></li>
    <li>price: <span id='price'>Unknown</span></li>
    <li>country: <span id='country'>Unknown</span></li>
  </ul>
</p> -->

<!-- <script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="/static/js/top_games.js"></script> -->



<!-- <div class="chart-example" id="chart"></div> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.6.0/d3.min.js"></script>
<script src="static/any-games.js"></script>




<!-- 
var chart = bubbleChart().width(600).height(400); -->

{% endblock %}