{% extends 'base.html' %}

{% block content %}


<style>

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
body {
  padding-top: 20px;
  font: 12px sans-serif;
  font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  counter-reset: rowNumber;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>
<div>
    <form action="/", method='GET'>
       <button type="submit" id="log-out-button">Log Out</button>
   </form>
</div>

<div>
    <form action="/employees/{{employee.employee_id}}", method='GET'>
       <button type="submit" id="previous-button">previous page</button>
   </form>
</div>

<h1>top twenty games</h1>

    <form action="/employees/{{employee.employee_id}}/top_twenty_games" method ="POST" id = "search_game">

      <select id="store_type_field" name="store_type" class="store_control">
          <option value="android" id = "select-store">android</option>
          <option value="itunes" id = "select-store">itunes</option>
      </select>
      <select id="country_type_field" name="country_type" class="country_control">
           <option value="AU" id = "select-country">Australia</option>
           <option value="CAN" id = "select-country">Canada</option>
           <option value="CHN" id = "select-country">Chinese</option>
           <option value="FR" id = "select-country">France</option>
           <option value="DE" id = "select-country">Germany</option>
           <option value="GB" id = "select-country">United Kingdom</option>
           <option value="US" id = "select-country">United State</option>
      </select>

        <label for="start">Start date:</label>
        <input type="date"  name="date_type" required id="data_type_field">
        <button id ="search">Search</button>
    </form>

  <table >

      <tr>
          <th>App Id</th> 
          <th>App Name</th>
          <th>Average Rating</th>
          <th>Price</th> 
      </tr>
      {% if json_record == 'No Data' %}
            <h1>No Data for this country and date. Please select another country and date</h1>
      {% else %}
          {% for r in json_record %}
     
      <tr>
     
          <td><a href="/details_of_games/{{country}}/{{store}}/{{r['app_id']}}">{{r["app_id"]}}</a></td>
          <td>{{r["app_name"]}}</td>
          <td>{{r["avg_rating"]}}</td>
          <td>{{r["price"]}}</td>

      </tr>

          {% endfor %}
      {% endif %}
</table>
  
<script >

    $('#search_game').on('click', (e) => {
        e.preventDefault();
      }

      
    $(document).ready(function(){
    $('#log-out-button').on('click', (evt) => {
      evt.preventDefault();
      console.log('you are succesfully log out')
      window.location.href = "/logout"
    });
    });
</script>



{% endblock %}