{% extends 'base.html' %}

{% block content %}

<h1>top twenty games</h1>


  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<form action="/top_twenty_games" method ="POST" id = "search_game">

<select name="store">
  <option value="android" id = "select-store">android</option>
  <option value="itunes" id = "select-store">itunes</option>
</select>

<label for="start">Start date:</label>

<input type="date"  name="date"required>
<button id = "search">Search</button>


</form>

  
  {% for r in json_record %}

<table style="width:100%">

  <tr>
    <th>Rank</th>
    <th>App Id</th> 
    <th>App Name</th>
    <th>Average Rating</th>
    <th>Price</th> 
  </tr>

  <tr>
    <td>{{r["rank"]}}</td>
    <td><a href="/details_of_games/{{country}}/{{store}}/{{r['app_id']}}">{{r["app_id"]}}</a></td>
    <td>{{r["app_name"]}}</td>
    <td>{{r["avg_rating"]}}</td>
    <td>{{r["price"]}}</td>
  </tr>

</table>
 {% endfor %}






<!-- <button id='getInfo'>Get Information!</button>
<p>
  <ul>
    <li><b>App_name: <span id='app_name'>Unknown</span></li>
    <li>Avr_rating: <span id='avr_rating'>Unknown</span></li>
    <li>price: <span id='price'>Unknown</span></li>
    <li>country: <span id='country'>Unknown</span></li>
  </ul>
</p>

<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="/static/top-games.js"></script> -->


{% endblock %}